streamlit>=1.24.0
python-dotenv>=1.0.0
requests>=2.31.0
pandas>=2.0.0
garth
garminconnect
streamlit
whoop
myfitnesspal
setuptools
numpy>=1.25.0
gspread
oauth2client
matplotlib>=3.7.0
seaborn
scikit-learn
joblib
libreview>=0.2.4
plotly